.canvas_container {
    z-index: 1000;
}

.content-for-home h1, .content-for-home p {
    text-align: center;
}

.about.main, .services.main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}